name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        goarch: [amd64, arm64]
        docker_arch: [amd64, arm64v8]
        include:
          - goarch: amd64
            docker_arch: amd64
            dockerfile: Dockerfile.amd64
          - goarch: arm64
            docker_arch: arm64v8
            dockerfile: Dockerfile.arm64
        exclude:
          - goarch: amd64
            docker_arch: arm64v8
          - goarch: arm64
            docker_arch: amd64

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/oltoko/webcron
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
